body{
  background-image: url(http://res.cloudinary.com/bubblin/image/upload/c_fill,f_auto,q_auto/v1530214441/yuumei/characters.jpg); 
}

blockquote.electric {
    position: absolute;
    right: -5%;
    top: 40%;
    width:50%;
    padding: 12% 15% 20% 2%;
}

blockquote.electric span {
    display: inline-block;
    font-size: 5vw;
}
