body{
  background-image: url(https://res.cloudinary.com/bubblin/image/upload/c_fill,f_auto,q_auto/v1530214441/yuumei/characters.jpg); 
}

blockquote.electric {
    position: absolute;
    right: -4vw;
    top: 1vh;
    width:40%;
    padding: 12% 15% 20% 2%;
}

blockquote.electric span {
    display: inline-block;
    font-size: 5vw;
}
