body{
  background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-intro/master/assets/images/11.jpg); 
}

blockquote.electric {
    position: absolute;
    right: -5%;
    top: 30%;
    width:45%;
    padding: 8% 10% 15% 2%;
}

blockquote.electric span {
    display: inline-block;
    font-size: 5vw;
    font-weight: bold;
}
