body{
  background-image: url(https://res.cloudinary.com/bubblin/image/upload/c_fill,f_auto,q_auto/v1530214441/yuumei/witness.jpg); 
  height: 100vh;
  width: 100vw;
  background-position: right center;
  background-size: 200% 100%;

}

blockquote.electric {
    position: absolute;
    right: -5%;
    top: 20%;
    width:50%;
    padding: 10% 20% 25% 2%;
}

blockquote.electric span {
    display: block;
    font-size: 5vw;
    font-weight: bold;
    color: red;
}
