body{
  background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-intro/master/assets/images/witness.jpg); 
  height: 100vh;
  width: 100vw;
  background-position: right center;
  background-size: 200% 100%;

}

blockquote.electric {
    position: absolute;
    right: -5%;
    top: 20%;
    width:50%;
    padding: 10% 20% 25% 2%;
}

blockquote.electric span {
    display: block;
    font-size: 5vw;
    font-weight: bold;
    color: red;
}
