body{
  background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-intro/master/assets/images/9.jpg); 
}


#bubble {
    margin: auto;
    padding: 1vw;
    position: absolute;
    right: 0vw;
    top: 22vh;
    background-color: #fff;
    color:black;
    text-align: center;
    width: 45vw;
    height:25vw;
    border: 0.5vw solid #400;
    border-top-right-radius: 25vw 15vw;
    border-top-left-radius: 25vw 15vw;
    border-bottom-right-radius: 25vw 15vw;
    border-bottom-left-radius: 25vw 15vw;
    -moz-border-radius-topright: 25vw 15vw;
    -moz-border-radius-topleft: 25vw 15vw;
    -moz-border-radius-bottomright: 25vw 15vw;
    -moz-border-radius-bottomleft: 25vw 15vw;
    -webkit-border-top-right-radius: 25vw 15vw;
    -webkit-border-top-left-radius: 25vw 15vw;
    -webkit-border-bottom-right-radius: 25vw 15vw;
    -webkit-border-bottom-left-radius: 25vw 15vw;
}

#text {
    position: relative;
    font-size: 4vw;
    font-style: italic;
    width: 42vw;
    height:25vw;
}

#circle_1, #circle_2, #circle_3 {
  border-radius: 50%;
  background: #fff;
  position: absolute;
}

#circle_1 {
  height: 7vw;
  width:7vw;
  border: 0.5vw solid #400;
  bottom: -8vw;
  right: 12vw;

}

#circle_2 {
  height: 5vw;
  width:5vw;
  border: 0.5vw solid #400;
  bottom: -5vw;
  right: -4vw;

}

#circle_3 {
  height: 3vw;
  width:3vw;
  border: 0.5vw solid #400;
  bottom: -3vw;
  right: -3vw;

}



/*
#arrow_border {
    width: 0;
    height: 0;
    line-height: 0;
    border-bottom: 3vw solid transparent;
    border-left: 3vw solid transparent;
    border-right: 3vw solid #ccc;
    position: absolute;
    bottom: -2vw;
    right: 6.5vw;
}
*/