body{
    background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-intro/master/assets/images/page_6.jpg); 
    background-size: 70% 70%;
    background-position: 50% 50%;
    height: 100vh;
    width: 100vw;
}
