body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

canvas#fire{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	transform: translate3d(0);
	will-change: transform;
	background-image: url(https://res.cloudinary.com/bubblin/image/upload/c_fill,f_auto,q_auto/v1530214441/yuumei/17.jpg);
	background-color: transparent !important;
	background-size: cover;
}