body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

canvas#fire{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	transform: translate3d(0);
	will-change: transform;
	background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-intro/master/assets/images/17.jpg);
	background-color: transparent !important;
	background-size: cover;
}