body{
  background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-intro/master/assets/images/killed.jpg); 
}

blockquote.speech {
    position: absolute;
    right: 0vw;
    top: 1vw;
    height: 15vh;
    padding: 8%;
    font-size: 3vw;
}
