body{
  background-image: url(https://res.cloudinary.com/bubblin/image/upload/c_fill,f_auto,q_auto/v1530214441/yuumei/killed.jpg); 
}

blockquote.speech {
    position: absolute;
    right: 0vw;
    top: 1vw;
    height: 15vh;
    padding: 8%;
    font-size: 3vw;
}
