.profile {
    height: 50vh;
}

.white {
    background: white;
    color: #000;
}

.small {
  font-size: 60%;
}

.social a{
    color: #888;
    font-size: 80%;
}

.side-gap {
    margin: 0 1vw;
}

a {
    color: #0077ff;
    outline: 0 none;
    text-decoration: none;
    text-rendering: optimizelegibility;
}

a:focus,
a:active,
a:hover {
    outline: 0 none;
    color: #f00;
}

a:active {
    color: #0a0;
}

