.profile {
    height: 50vh;
}

.white {
    background: white;
    color: #000;
}

.small {
  font-size: 75%;
}

a {
    color: #0077ff;
    outline: 0 none;
    text-decoration: none;
    text-rendering: optimizelegibility;
}

a:focus,
a:active,
a:hover {
    outline: 0 none;
    color: #f00;
}

a:active {
    text-shadow: 0 0 2px #fff;
}

