body{
  background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-intro/master/assets/images/10.jpg); 
}

#bubble {
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #a60;
    color: white;
    text-align: center;
    width: 43vw;
    height:6vw;
    border-right: 0.5vw solid #fff;
    border-top: 0.5vw solid #fff;
    border-top-right-radius: 20vw 15vw;
    -moz-border-radius-topright: 20vw 15vw;
    -webkit-border-top-right-radius: 20vw 15vw;
}

#text {
    position: relative;
    font-weight: bold;
    font-size: 3vw;
    font-style: italic;
    height: 6vw;
}
