body{
  background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-intro/master/assets/images/page_2.jpg); 
}

blockquote.electric {
    position: absolute;
    right: 0;
    top: 30%;

}