body{
  background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-intro/master/assets/images/15.jpg);
  will-change:transform;
  transform: translateZ(0);
	background-size: cover;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}


.rain, .shadows, .drops {
  position: relative;
}

.drop {
  position: relative;
  border-radius: 100%;
  background-image: url("https://raw.githubusercontent.com/marvindanig/fisheye-placebo-intro/master/assets/images/rain.png");
  background-position: 50%;
  opacity: 0.5;
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
  will-change:transform;
  transform: translateZ(0);

}

.shadow {
  position: relative;
  z-index: 5;
  margin-left: 2px;
  margin-top: 1px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px rgba(200, 0, 0, 0.1);
}

.drop:nth-child(1) {
  left: 43.45555vw;
  top: 14.54766vh;
  width: 8px;
  height: 8.82759px;
  background-size: 8px 8.82759px;
  background-position: 62.07936% 24.2461%;
  -webkit-animation: 47.00468s streaking infinite;
          animation: 47.00468s streaking infinite;
}

.shadow:nth-child(1) {
  left: 43.45555vw;
  top: 14.54766vh;
  width: 4px;
  height: 7.82759px;
  -webkit-animation: 47.00468s streaking infinite;
          animation: 47.00468s streaking infinite;
}

.drop:nth-child(2) {
  left: 24.78771vw;
  top: 43.89262vh;
  width: 7px;
  height: 10.5px;
  background-size: 7px 10.5px;
  background-position: 35.41102% 73.15437%;
  -webkit-animation: 3.62976s streaking infinite;
          animation: 3.62976s streaking infinite;
}

.shadow:nth-child(2) {
  left: 24.78771vw;
  top: 43.89262vh;
  width: 3px;
  height: 9.5px;
  -webkit-animation: 3.62976s streaking infinite;
          animation: 3.62976s streaking infinite;
}

.drop:nth-child(3) {
  left: 65.6289vw;
  top: 39.42693vh;
  width: 10px;
  height: 12.30769px;
  background-size: 10px 12.30769px;
  background-position: 93.75557% 65.71156%;
  -webkit-animation: 11.75637s streaking infinite;
          animation: 11.75637s streaking infinite;
}

.shadow:nth-child(3) {
  left: 65.6289vw;
  top: 39.42693vh;
  width: 6px;
  height: 11.30769px;
  -webkit-animation: 11.75637s streaking infinite;
          animation: 11.75637s streaking infinite;
}

.drop:nth-child(4) {
  left: 68.18248vw;
  top: 43.74345vh;
  width: 15px;
  height: 17.64706px;
  background-size: 15px 17.64706px;
  background-position: 97.40354% 72.90575%;
  -webkit-animation: 6.7881s streaking infinite;
          animation: 6.7881s streaking infinite;
}

.shadow:nth-child(4) {
  left: 68.18248vw;
  top: 43.74345vh;
  width: 11px;
  height: 16.64706px;
  -webkit-animation: 6.7881s streaking infinite;
          animation: 6.7881s streaking infinite;
}

.drop:nth-child(5) {
  left: 37.42813vw;
  top: 3.12166vh;
  width: 14px;
  height: 16.1px;
  background-size: 14px 16.1px;
  background-position: 53.46876% 5.20277%;
  -webkit-animation: 29.73139s streaking infinite;
          animation: 29.73139s streaking infinite;
}

.shadow:nth-child(5) {
  left: 37.42813vw;
  top: 3.12166vh;
  width: 10px;
  height: 15.1px;
  -webkit-animation: 29.73139s streaking infinite;
          animation: 29.73139s streaking infinite;
}


@-webkit-keyframes streaking {
  from {
    opacity: 0;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  5% {
    opacity: 0.5;
  }
  50% {
    -webkit-transform: translateY(15vh) rotateY(180deg);
            transform: translateY(15vh) rotateY(180deg);
  }
  to {
    -webkit-transform: translateY(60vh) rotateY(180deg);
            transform: translateY(60vh) rotateY(180deg);
  }
}

@keyframes streaking {
  from {
    opacity: 0;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  5% {
    opacity: 0.5;
  }
  50% {
    -webkit-transform: translateY(15vh) rotateY(180deg);
            transform: translateY(15vh) rotateY(180deg);
  }
  to {
    -webkit-transform: translateY(60vh) rotateY(180deg);
            transform: translateY(60vh) rotateY(180deg);
  }
}
