body{
  background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-intro/master/assets/images/7.jpg); 
}


#bubble {
    margin: auto;
    position: absolute;
    left: 36vw;
    bottom: 22vh;
    background-color: #fff;
    color:black;
    text-align: center;
    width: 20vw;
    height:12vw;
    border: 2vw solid #c3cecf;
    border-top-right-radius: 12vw 8vw;
    border-top-left-radius: 12vw 8vw;
    border-bottom-right-radius: 12vw 8vw;
    border-bottom-left-radius: 12vw 8vw;
    -moz-border-radius-topright: 12vw 8vw;
    -moz-border-radius-topleft: 12vw 8vw;
    -moz-border-radius-bottomright: 12vw 8vw;
    -moz-border-radius-bottomleft: 12vw 8vw;
    -webkit-border-top-right-radius: 12vw 8vw;
    -webkit-border-top-left-radius: 12vw 8vw;
    -webkit-border-bottom-right-radius: 12vw 8vw;
    -webkit-border-bottom-left-radius: 12vw 8vw;
}

#text {
    position: relative;
    font-weight: bold;
    font-size: 5vw;
    width: 20vw;
    height:12vw;
}
/*
#arrow_border {
    width: 0;
    height: 0;
    line-height: 0;
    border-bottom: 3vw solid transparent;
    border-left: 3vw solid transparent;
    border-right: 3vw solid #ccc;
    position: absolute;
    bottom: -2vw;
    right: 6.5vw;
}
*/