body{
  background-image: url(//raw.githubusercontent.com/marvindanig/fisheye-placebo-intro/master/assets/images/11.jpg); 
}

blockquote.electric {
    position: absolute;
    right: -5%;
    top: 40%;
    width:50%;
    padding: 12% 15% 20% 2%;
}

blockquote.electric span {
    display: inline-block;
    font-size: 5vw;
}
